@font-face {
  font-family: "tan nimbus";
  src: url(../tipografia/TAN-NIMBUS.ttf);
}
*{
  margin: 0;
  padding: 0;
}
.cuerpo {
  background-color: #f6f3ec;
}
header {
  width: 100%;
  border: 1px solid #9d6843;
}
header nav {
  display: flex;
  background-color: #f6f3ec;
  justify-content: space-evenly;

}
header nav img {
  width: 150px;
}
header nav ul {
  display: inline-flex;
  width: 50%;
  justify-content: space-evenly;
  
}
header nav ul li {
  list-style: none;
  font-family: "tan nimbus";
  display: inline-block;
  text-align: center;
}
header nav ul li a {
  text-decoration: none;
  display: block;
  padding-top: 40px;
  color: #9d6843;
}
header nav ul li a:hover {
  border-bottom: 3px solid #9d6843;
  
}
/* .terapias-section {
  background-color: #d9bfac;
} */
.terapias-item{
  display: flex;
  border: 2px solid rgba(165, 114, 42, 0.864);
  margin: 10px;
}
.terapias-item img {
  width: 25%;
  background-color: #d9bfac;
}
.terapias-item p {
  font-family: "tan nimbus";

}